## **Topic 2: Lists (5 Questions)**

---

### **Q6. Find Maximum in a List**

**Description:**

Take `N` integers in a list and print the maximum number.

We can store a given `N` Integer in a list name `numbers`.

Note:

- We can take input from the user using `input()`.
- We can also directly take input as an Integer from the user using `int(input())`.

**For example, Input:**

```

  
numbers = [10, 3, 25, 8, 7]

```

**Output:**

```
  
25

```

---

In [5]:
n = int(input("Enter the range of number you want: "))

numbers = []


for i in range(n):
  num = int(input(f"Enter number {i+1}: "))
  numbers.append(num)
print("The list of numbers is:", numbers)
print("The maximum number among the given list is: ",max(numbers))

Enter the range of number you want: 5
Enter number 1: 21
Enter number 2: 42
Enter number 3: 78
Enter number 4: 91
Enter number 5: 43
The list of numbers is: [21, 42, 78, 91, 43]
The maximum number among the given list is:  91

### **Q7. Reverse a List**

**Description:**

Take a list of numbers and print it in reverse order.

We can store a given `N` numbers in a list name `numbers`.

Note:

- We can take input from the user using `input()`.
- We can also directly take input as an Integer from the user using `int(input())`.

**For example, Input:**

```

  
numbers = [1, 2, 3, 4]

```

**Output:**

```
csharp
  
[4, 3, 2, 1]

```

---

In [12]:
n = int(input("Enter the range for numbers: "))

numbers = []

for i in range(n):
  num = int(input(f"Enter the number for list{i+1}: "))
  numbers.append(num)
print("Original List: ", numbers)
print("Reversed list: ",numbers[: : -1])

Enter the range for numbers: 5
Enter the number for list1: 1
Enter the number for list2: 3
Enter the number for list3: 4
Enter the number for list4: 7
Enter the number for list5: 9
Original List:  [1, 3, 4, 7, 9]
Reversed list:  [9, 7, 4, 3, 1]

### **Q8. Real-World Use Case: Shopping Cart Total**

**Description:**

You are building an **e-commerce app**. Calculate the total price of all items in the cart.

We can store a given `N` Items price in a list name `prices`.

Note:

- We can take input from the user using `input()`.
- We can also directly take input as an Integer from the user using `int(input())`.

**For example, Input:**

```

  
prices = [100, 200, 50]

```

**Output:**

```
   
  
Total: 350

```

---

In [22]:
number_of_items = int(input("Enter the number of item in your card: "))

prices = []
total_cost = 0
for i in range(number_of_items):
  N = int(input(f"enter prices for the iteams{i+1}:"))
  # total_cost += N[i]

  prices.append(N)
print(prices)

for i in range(len(prices)):
  total_cost = total_cost + prices [i]
print("Your total cart value is: ", total_cost)

Enter the number of item in your card: 4
enter prices for the iteams1:2
enter prices for the iteams2:6
enter prices for the iteams3:8
enter prices for the iteams4:5
[2, 6, 8, 5]
Your total cart value is:  21

### **Q9. Real-World Use Case: Temperature Records**

**Description:**

Store **7 days of temperature data** in a list and print the highest temperature.

We can store a given 7 days of temperature in a list name `temps`.

Note:

- We can take input from the user using `input()`.
- We can also directly take input as an Integer from the user using `int(input())`.

**For example, Input:**

```

  
temps = [30, 32, 29, 35, 33, 31, 28]

```

**Output:**

```
  
35

```

---

In [31]:
n = 7
temps = []
print()
for i in range(n):
  temprature = int(input(f"Temprature of day{i + 1}: "))
  temps.append(temprature)
print("Temprature noted in 7 days is: ",temps)
print(f"Highest temparature in 7 days is:{max(temps)}")

Temprature of day1: 31
Temprature of day2: 30
Temprature of day3: 32
Temprature of day4: 35
Temprature of day5: 39
Temprature of day6: 45
Temprature of day7: 40
Temprature noted in 7 days is:  [31, 30, 32, 35, 39, 45, 40]
Highest temparature in 7 days is:45

### **Q10. Real-World Use Case: Student Marks Analysis**

**Description:**

Take marks of 5 students in a list and print the average.

We can store 5 students marks in a list name `marks`.

Note:

- We can take input from the user using `input()`.
- We can also directly take input as an Integer from the user using `int(input())`.

**For example, Input:**

```

  
marks = [80, 90, 85, 70, 95]

```

**Output:**

```
   
  
Average: 84.0

```

In [43]:
number_of_student = 5
marks = []
sum_of_marks = 0
for i in range(5):
  n = int(input())
  marks.append(n)

print(marks)
for i in range(len(marks)):
   sum_of_marks += marks[i]
print(sum_of_marks)

avarage_marks = sum_of_marks / len(marks)
print("Avarage of Marks is",avarage_marks)

76
89
55
49
68
[76, 89, 55, 49, 68]
337
Avarage of Marks is 67.4