In [14]:
# for loop

# Pattern

"""
* 
**
***
****
"""
n = int(input("enter the n: "))
for i in range(1,n + 1):
    print(" * " * i)

enter the n:  4

 *
 *  *
 *  *  *
 *  *  *  *

In [13]:
""" 
* * * * * 
* * * * * 
* * * * * 
* * * * * 
* * * * * 

"""
n = int(input("enter the n: "))
for i in range(1, n+1):
    for j in range(n+1):
        print("*", end=" ")
    print()

enter the n:  4

* * * * *
* * * * *
* * * * *
* * * * *

### List

#List is a data strucure used to store data.

In [17]:
friends_age = [25, 27,23,20]
# indexing     0    1  2  3

[]
[]

#### Empty List

In [11]:
emp_lst = []
empty_lst2 = list()

print(emp_lst)
print(empty_lst2)

[]
[]

In [13]:
fruits = ["apples", "grapes", "oranges"]
print(fruits)

mixed_list = [1,2, "Apple", [3,2,5,8]]
print(mixed_list)

['apples', 'grapes', 'oranges']
[1, 2, 'Apple', [3, 2, 5, 8]]

### Adding item - append()

In [15]:
fruits.append("cherry")

In [14]:
fruits

['apples', 'grapes', 'oranges']

#### Adding multuiple iteams in list - extend()

In [16]:
fruits.extend(['kiwi', "guava"])

In [29]:
fruites.remove("cherry")

In [17]:
fruits

['apples', 'grapes', 'oranges', 'cherry', 'kiwi', 'guava']

#### Adding iteam to a specific location - insert()

In [22]:
fruits.insert(1, 'mango')
print(fruits)

['apples', 'mango', 'mango', 'mango', 'grapes', 'oranges', 'cherry', 'kiwi', 'guava']

### removing a value from listg -- remove()

#### remove and return item -- pop()

In [23]:
### It will remove the blast value from the list

fruits.pop()

'guava'

#### removing from the specific location -- using pop()

In [24]:
fruits.pop(0)

'apples'

#### Calculate length of the list -- len()

In [25]:
print(len(fruits))

7

In [26]:
movies = ['Spiderman', 'Superman', 'ironman']
actors = ['tom holland', 'robery downey', 'henry cavil']

for i in range(len(movies)):
    print(movies[i], actors[i])

Spiderman tom holland
Superman robery downey
ironman henry cavil

### Tuple:

#### Tuples used for: bank data, DOB, Aadhar ID.
#### A tuple is a collection of data.
#### It's immutable.
#### Immutable- once created you can not manipulate it. (can not delete or replace values.)

#### Empty Tuple:

In [31]:
empty_tuple = ()
emt_tuple = tuple()

print(emty_tuple, emt_tuple)

() ()

#### Tuple with Values

In [28]:
coordinates = (10, 20)
colors = ('red', 'Blue', 'Orange')
mixed_tuple = ('hello', 1, 3.14, True)
single_iteam = (42, )

print(coordinates)
print(colors)
print(mixed_tuple)
print(single_iteam)

(10, 20)
('red', 'Blue', 'Orange')
('hello', 1, 3.14, True)
(42,)

#### Tuple Unpacking

In [30]:
points = (15, 25 )
x, y = points
print(x, y)

15 25

In [36]:
## List
my_list = [1, 4, 9,5]
print("Original list", my_list)
my_list[1] = 20
print("Updated list",my_list )

### Tuple

my_tuple = (1, 3, 5, 6, 9)
# my_tuple[1] = 20
print(my_tuple)

Original list [1, 4, 9, 5]
Updated list [1, 20, 9, 5]
(1, 3, 5, 6, 9)

#### Merging two tuple to create new tuple

In [39]:
t1 = (1, 2, 3)
t2 = (4, 5, 6)

t3 = t1 + t2
print(t3)

(1, 2, 3, 4, 5, 6)

#### Slicing
##### Its a process that allows bus to extract a part of a list, tuple and string.

In [51]:
number = [0,1,2,3,4,5,6,7,8,9]
text = "Hello"

print(number[2:6])
print(text[0:3])
print("First 3 numbers: ",number[:3])
print("4th number onwards",number[4:])
print("Last 3 numbers: ", number[-3:])
print("All except last 2: ", number[:-2])
print("every 2nd number: ", number[: : 2])

[2, 3, 4, 5]
Hel
First 3 numbers:  [0, 1, 2]
4th number onwards [4, 5, 6, 7, 8, 9]
Last 3 numbers:  [7, 8, 9]
All except last 2:  [0, 1, 2, 3, 4, 5, 6, 7]
every 2nd number:  [0, 2, 4, 6, 8]

### Function
##### -A function is a reusable block of code that performs a specific task.
##### - It makes our code simple and manageable.

In [64]:
def sum(a, b):
    sum = a + b
    print(sum)
def diff(a,b):
    diff = b - a
    print(diff)
    
sum(100,50)    
diff(150, 500)

150
350

#### Import statement

In [76]:
import math
import random
import datetime
import numpy

print(f"squareroot of 16: ", {math.sqrt(16)})
print(f"2 to the power 8: ",{math.pow(2,8)})

print(f"Random number between (1 to 100):  ",{random.randint(1, 100)})

now = datetime.datetime.now()
print(f"Current date and time: {now} ")

squareroot of 16:  {4.0}
2 to the power 8:  {256.0}
Random number between (1 to 100):   {30}
Current date and time: 2025-08-06 17:18:57.898744

#### Numpy - Numerical Python

##### - used for numerical computation of large data
##### - Linear algebr, Maths operation

In [80]:
 import numpy as np

## Array list of numbers

arr = np.array([1,2,3,4,5])
print(arr)

[1 2 3 4 5]

In [7]:
n = int(input("Enter the range for numbers: "))

numbers = []

for i in range(n):
  num = int(input(f"Enter the number for list: {i+1}"))
  numbers.append(num)
print("Original List: ", numbers)
print("Reversed list: ",numbers[: :-1])

Enter the range for numbers:  5
Enter the number for list: 1 1
Enter the number for list: 2 2
Enter the number for list: 3 3
Enter the number for list: 4 4
Enter the number for list: 5 5

Original List:  [1, 2, 3, 4, 5]
Reversed list:  [5, 4, 3, 2, 1]