## Float

### Integer

In [1]:
# Integer

age = 24 
year = 2025

print(age)
print(year)
print(type(age))
print(type(year))

24
2025
<class 'int'>
<class 'int'>

## Boolean

In [3]:
is_working = True
is_raining = False

type(is_working)

bool

## String

In [9]:
name = "John Doe"
massage = "Hello World !"
empty_str = " "

print(empty_str)
print(name)
print(massage)

John Doe
Hello World !

## Mathematical Operation

### Addition

In [15]:
a =10
b = 20

result = a + b
print(result)

item1 = 120.3
item2 = 600.50

total_price = item1 + item2
print(total_price)

30
720.8

### Subsraction

In [17]:
a = 20

total_price = 720.8
discount = 100

final_price = total_price - discount
print(final_price)

620.8

### Multiplications

In [19]:
a = 4
b = 6

result = a * b
print(result)

length = 12.5
width = 8.9

area = length * width

24

### Floor division (//)

In [22]:
a =17
b = 4

result = a // b
print(result)


# 17/4 = 4.25

4

### Modulus

In [26]:
a = 17
b = 5

reminder = 17 % 5
res =print(reminder)

2

### Exponential

In [25]:
base = 2
exponent = 3

res = base ** exponent
print(res)

8

In [30]:
a = 10
b =3
c =2

res = a+b+c
res2 = (a+b) * c 
res3 = a ** b /c  ## 10 **3 ==> 10^3 ==> 10 * 10 * 10 = 1000
res4 = a % b + c

print(res)
print(res2)
print(res3)
print(res4)

15
26
500.0
3

## Comparison Operator

##### Comparison operators compares two values and returns a boolean value.

In [37]:
# = (Assignment )
# == (Equality Comparison)

name1 = "John"
name2 = "john"
name3 = "John"
name4 = "john"

print(name1 == name2)
print(name2 == name3)
print(name3 == name1)

print(12.99 == 12.99)
print(10.0 == 13.4)

False
False
True
True
False

## not equal to (!=)

In [39]:
# not equal to (!=)
# true if not equal

name1 = "John"
name2 = "john"
name3 = "John"
name4 = "john"

print(name1 != name2)
print(name2 !=  name3)
print(name3 !=  name1)

print(12.99 !=  12.99)
print(10.0 !=  13.4)

True
True
False
False
True

#### Greater then (>)

In [41]:
score1 = 85.5
score2 = 82.3

print(score1 < score2)
print(score1 > score2)

False
True

#### Less then (<)

In [42]:
score1 = 85.5
score2 = 82.3

print(score1 > score2)

True

####  Less then or equal to

In [44]:
score = 85
min_pass = 60
max_score = 100

valid_score = min_pass <= score <= max_score
print("Valid score: ", valid_score)

Valid score:  True

#### Logical Operator

### AND
##### Return True  if both the conditions are True

In [46]:
age = 25
has_license = True
can_drive = age>= 18 and has_license
print(can_drive)

True

### OR
##### Return True if atleast one condition is True

In [49]:
is_weekend = True
is_holiday = False

can_sleep_till_10_am = is_weekend or is_holiday
print(can_sleep_till_10_am)

True

### NOT 

#####

In [50]:
is_raining = False
go_for_walk = not is_raining
print(go_for_walk)

True

### Condition Statement

#### If condition

In [55]:
# Traffic lights
# red_light = we don't cross the road 
# Green light = we cross the road

age =18
if age >= 18:
    print("Eligible to vote")

Eligible to vote

#### If -----else:

In [58]:
age =16
if age >= 18:
    print("Eligible to vote")
else:
    print("Not eligible to vote")

Not eligible to vote

### ELIF

In [59]:
score = 85 

if score >= 90:
    print("Grade A")
elif score >= 80:
    print("Grade B")
elif score >= 70:
    print("Grade C")   
else:
    print("Grade D")

Grade B

#### Multiple If else conditions

In [60]:
age = 25
has_license = True

if age >= 18:
    print('Eligible to drive')
    if has_license:
        print("You can drive")
    else:
        print("Grt your license first")
else:
    print("Too younge to drive")

Eligible to drive
You can drive

### Loops
#### Loops runs or execute a code block certain number of times.

In [64]:
## Print hello 5 times

print("hello")
print("hello")
print("hello")
print("hello")
print("hello")

hello
hello
hello
hello
hello

#### For Loop

In [68]:
#for i in arr:
   # print(i)

#### range() function:

In [69]:
# range() ==> return a sequence of numbers in range.
## range() has three parameters.
# range(start,stop,step)

# 0 m --------------------------------------------------------1000 m
# start                                                         stop 

# step = 5 m

In [75]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [77]:
for i in range(0,11,2):
    print(i)

0
2
4
6
8
10

In [80]:
for key in range(2,5): # range(2,5,1)
    print(key)

2
3
4

In [83]:
# print numbers from 10 to 20 ?

for i in range(10, 21):
    print(i)

10
11
12
13
14
15
16
17
18
19
20

In [85]:
# print 1011121314151617181920

s= ""

for i  in range(10,21):
    s += str(i)

print(s)

1011121314151617181920

In [87]:
# Expected  o/p = 5 4 3 2 1 print in reverse

for i in range(5,0, -1):
    print(i)

5
4
3
2
1

### Break statement

#### if condition is true stop execution of loop and come oout of loop and print outside the condition.

#### it breaks out of loop

In [89]:
# print till 4 

for i in range(1,11):
    if i == 5:
        break
    print(i)

1
2
3
4

### Continue statement

#### It skips the condition and moves further.
#### Skiping the itration for that perticular value.

In [90]:
# skip 5 

for i in range(1,11):
    if i == 5:
        continue
    print(i)

1
2
3
4
6
7
8
9
10

### Interpreter: 
#### It's a program that converts human-readable code to instructions.
#### An interpreter is a program that reads and executes code line by line, converting high-level code (like Python) into machine-readable instructions at runtime.